body {
  min-width: 140px;
  padding: 10px;
}

body > div {
  padding: 10px;
  position: relative;
}

body > div > input {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
body > div > input,
body > div > label {
  cursor: pointer;
}

.addsiteto-container label {
  font-weight: bold;
  margin-bottom: 1em;
  display: block;
}
.button-container {
  text-align: center;
}